// Insert your styling here.
.bg-img(@img) {	background-image: url("@{img}");
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 100%; }
.gradient(@dir) { background: linear-gradient(to bottom, #a1dbff 0%,#f0f9ff 100%);
                background: #a1dbff; /* Old browsers */
                background: -moz-linear-gradient(top,  #a1dbff 0%, #f0f9ff 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1dbff), color-stop(100%,#f0f9ff)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #a1dbff 0%,#f0f9ff 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #a1dbff 0%,#f0f9ff 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #a1dbff 0%,#f0f9ff 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #a1dbff 0%,#f0f9ff 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
		background-repeat: no-repeat; }


body { #gradient.vertical(#a1dbff; #f0f9ff; 0%; 100%); }
#content-wrapper { .bg-img("../images/birdst.png"); }


// Menu Colours
.menu-item-1 {
  border-top: 3px solid #f00;
}
.menu-item-1:hover {
  background: #f00;
}
.menu-item-2 {
  border-top: 3px solid #0f0;
}
.menu-item-2:hover {
  background: #0f0;
}
.menu-item-3 {
  border-top: 3px solid #00f;
}
.menu-item-3:hover {
  background: #00f;
}
.menu-item-4 {
  border-top: 3px solid #ff0;
}
.menu-item-4:hover {
  background: #ff0;
}
.menu-item-5 {
  border-top: 3px solid #0ff;
}
.menu-item-5:hover {
  background: #0ff;
}
