// main: ./style.less
#page-header {
    background-position: center center;
    background-repeat: no-repeat;
    /* rules for mobile vertical (< 480) */
    
    background-image: url("../images/banner432.png");
    height: 114px;
    div {
        width: 100%;
        height: 100%;
        padding: 30px 15px;
        h1 {
            font-size: @font-size-h3;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-family: 'eraserregular', Fallback, sans-serif;
            color: #fff;
            -webkit-stroke-width: 5.3px;
            -webkit-stroke-color: #FFFFFF;
            -webkit-fill-color: #FFFFFF;
            text-shadow: 1px 0px 20px blue;
        }
    }
    @media (min-width: @screen-xs-min) {
        /* rules for tablet (768 > 992) */
        
        background-image: url("../images/banner720.png");
        height: 189px;
        div {
            background: transparent url('../images/logo720.png') no-repeat scroll 99% 95%;
        }
    }
    @media (min-width: @screen-md-min) {
        /* rules for desktop (992 > 1200) */
        
        background-image: url("../images/banner940.png");
        height: 247px;
        div {
            background: transparent url('../images/logo940.png') no-repeat scroll 99% 95%;
            h1 {
                font-size: @font-size-h2;
            }
        }
    }
    @media (min-width: @screen-lg-min) {
        /* rules for large (> 1200) */
        
        background-image: url("../images/banner1140.png");
        height: 300px;
        div {
            background: transparent url('../images/logo1140.png') no-repeat scroll 99% 95%;
            h1 {
                font-size: @font-size-h1;
            }
        }
    }
}
